/* GLOBAL STYLES
-------------------------------------------------- */
/* Padding below the footer and lighter body text */

:root {
  /*--bg-color: #4b96b6;*/
  --banner-img-height: 28rem;
  /* --background-grad: linear-gradient(90deg, rgba(8,2,110,1) 0%, rgba(2,76,167,1) 35%, rgba(34,211,227,1) 100%); */
  /*--background-grad: linear-gradient(90deg, rgba(35,42,131,1) 0%, rgba(2,76,167,1) 35%, rgba(0,155,175,1) 100%);*/
  --bg-color: rgb(36,57,223);
  --background-grad: linear-gradient(135deg, rgba(36,57,223,1) 0%, rgba(39,107,189,1) 53%, rgba(39,156,203,1) 76%, rgba(11,207,180,1) 100%);
}

body {
    padding-top: 3rem;
    padding-bottom: 3rem;
    color: #5a5a5a;
  }

.instructor {
  margin-top: 2rem;
}

.instructor h3 {
  text-align: left;
}

.navbar {
      /*background-color: var(--bg-color);*/
      /*background: var(--background-grad);*/

      background-color: white;
      box-shadow: 0px 1px 5px 0px gray;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg viewBox='0 0 32 32' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath stroke='rgba(0, 0, 0, 1)' stroke-width='3' stroke-linecap='round' stroke-miterlimit='10' d='M4 8h24M4 16h24M4 24h24'/%3E%3C/svg%3E");
}

.active .nav-link {
  font-weight: 700;
}

.nav-link {
  color: black;
}

.nav-link:hover {
  color: rgb(60, 60, 60);
}

.alt-color {
  background-color:var(--bg-color);
  background: var(--background-grad);
  color: rgb(255, 255, 255);
}

.alt-color a {
  /* color: rgb(61, 61, 61); */
  color: rgb(6, 231, 126);
}

.main-content {
  /* padding-top: 2rem; */
  padding-bottom: 2rem;
}

.main-content .container .row div {
  padding-top: 2rem;
}

  .img-container {
    width: 100%;
    /* height: 400px; */
    /* height: 24rem; */
    height: var(--banner-img-height);
    background-image: url("./images/img_1.jpeg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
  }
  

  .test-img-container {
    width: 100%;
    height: 20rem;
    /* height: 400px; */
    /* height: 24rem; */
    /* height: var(--banner-img-height); */
    background-image: url("./images/test_img.png");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
  }


  /* CUSTOMIZE THE CAROUSEL
  -------------------------------------------------- */
  
  /* Carousel base class */
  .carousel {
    /* margin-bottom: 4rem; */
  }
  /* Since positioning the image, we need to help out the caption */
  .carousel-caption {
    bottom: 3rem;
    z-index: 10;
    text-shadow: .2rem .2rem .4rem #000000;
  }

  /* Declare heights because of positioning of img element */
  .carousel-item {
    height: var(--banner-img-height);
  }

@media (orientation:portrait) {
  .carousel-item {
    height:0rem;
  }
}


  .carousel-item > img {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    width: auto;
    /* height: 32rem; */
  }
  
  
  /* MARKETING CONTENT
  -------------------------------------------------- */
  
  /* Center align the text within the three columns below the carousel */
  .marketing .col-lg-4 {
    margin-bottom: 1.5rem;
    text-align: center;
  }
  /* .marketing h2 {
    font-weight: 400;
  } */
  .marketing .col-lg-4 p {
    margin-right: .75rem;
    margin-left: .75rem;
  }
  
  /* Featurettes
  ------------------------- */
  
  .featurette {
      margin-right: 50px;
      margin-left: 50px;
  }

  .featurette-divider {
    margin: 5rem 0; /* Space out the Bootstrap <hr> more */
  }
  
  /* Thin out the marketing headings */
  /* .featurette-heading {
    font-weight: 300;
    line-height: 1;
    letter-spacing: -.05rem;
  } */

  .bold-heading {
    text-align: center;
  }
  
  
  /* RESPONSIVE CSS
  -------------------------------------------------- */
  
  @media (min-width: 40em) and (orientation:landscape) {
    /* Bump up size of carousel content */
    .carousel-caption p {
      margin-bottom: 1.25rem;
      font-size: 1.25rem;
      line-height: 1.4;
    }
  
    .featurette-heading {
      font-size: 50px;
    }
  }
  
@media (orientation:landscape) {
  .faq_content {
    margin: 50px;
}
}

@media (orientation:portrait) {
  .faq_content {
    margin-top:30px;
    margin-bottom:30px;
  }

  .faq-heading {
    font-size: 30px;
  }

}

.footer {
  bottom: 0px;
  width: 100%;
  padding-top: 2rem;
}

.contact-form {
  background-color: white;
  width: 100%;
  height: 400px;
}

.contact-form iframe {
  height: 100%;
}

/* @media (orientation:landscape) {
  .footer {
    background-color: white;
  bottom: 0px;
  left: 0px;
  padding-right: 8.5rem;
  padding-left: 8.5rem;
  }
}

@media (orientation:portrait) {
  .footer {
    position: fixed;
  bottom: 0px;
  left: 0px;
  margin:3px;
  }
} */


 /* @media (orientation:portrait) {
   .contact_page {
     padding:0rem;
   }
 } */

  @media (orientation:landscape) {
    .contact_page .contact_content {
      font-size: 150%;
  }
  }

@media (orientation:landscape) {
  .contact_page h2 {
    font-size: 4rem;
    font-weight: 400;
}
}

@media (orientation:portrait) {
  .contact_page h2 {
    font-size: 3rem;
    font-weight: 400;
  }
}

  #header-text {
    font-family: 'Alfa Slab One', Georgia;
  }

  .nav-link {
    /*font-family: Verdana, Geneva, Tahoma, sans-serif;*/
    font-family: Helvetica, sans-serif;
    font-weight: 600;
  }


  @media (orientation:portrait) {
    .img-container {
     display: none;
   }
 }


 .home-img {
    width: 100%;
    /* height: 400px; */
    /* height: 24rem; */
    height: var(--banner-img-height);
    background-image: url("./images/IMG_6265.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    /* background-position: 50% 50%; */
 }

 .pricing-plan-box {
   box-shadow: 0.5px 0.5px 5px 1px gray;
   /* box-shadow: 0px 0px 3px 0.5px black; */
   border-radius: 10px;
   margin: 0.5rem;
   padding-top: 1.4rem;
   text-align: center;
 }


 .pricing-plan-box h4 {
   color: black;
   font-weight: 600;
   font-size: 1.1rem;
 }

 .pricing-plan-box p {
   font-weight: 600;
  font-style: italic;
}

 .pricing-plan-box li {
   text-align: left;
 }

 .pricing-plan-container {
   padding-top: 1rem;
 }

 .pricing-plan-box:hover {
  box-shadow: 0px 0px 5px 2px var(--bg-color);
  border-radius: 10px;
  margin: 0.5rem;
  padding-top: 1.4rem;
  text-align: center;
  background: var(--background-grad);
  color: white;
}

.pricing-plan-box:hover h4 {
  color: white;
}

.pricing-plan-box:hover hr {
  border-top: 1px solid white;
}

.pricing-plan-box hr {
  border-top: 1px solid gray;
}

.class-img-container {
  /* margin: auto;
  display: block;
  width: 50%;
  /* height: 400px; */
  /* height: 24rem; */
  /* height: var(--banner-img-height); */
  /* height: 10rem;
  background-image: url("./images/test_img.png");
  background-size: contain;
  background-repeat: no-repeat; */
  /* background-position: 50% 50%; */
}

.class-img-container img {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 25%;
}

#forum-img {

}

#policy-img {
  
}

.class-box {
  margin: 0.5rem;
}

.class-box:hover {
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 0.75rem;
  box-shadow: 1px 1px 10px 2px rgba(255, 255, 255, 1);
  margin: 0.5rem;
}

#img-classes {
  background-image: url("./images/IMG_2692.jpeg");
  /* background-image: url("./images/IMG_2816.jpeg"); */
}

#img-about {
  background-image: url("./images/IMG_2690.jpeg");
  /* background-image: url("./images/IMG_2816.jpeg"); */
}

#img-contact {
  background-image: url("./images/IMG_2750.jpeg");
  /* background-image: url("./images/IMG_2816.jpeg"); */
}

#img-home {
  background-image: url("./images/IMG_0895.jpeg");
}

@media(orientation: landscape) {
  .down-2-rem {
    margin-top: 2rem;
  }
}

* {
  font-family: Georgia;
}

h2 {
  font-family: 'Roboto Slab', serif;
}

h3 {
  font-family: 'Roboto Slab', serif;
}

h4 {
  font-family: 'Roboto Slab', serif;
}

p {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: Georgia;
  font-size: 1.05rem;
}

li {
  /*font-family: 'Open Sans', sans-serif;*/
  font-family: Georgia;
}

p strong {
  font-weight: 600;
}